html, body {  
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    background-image: linear-gradient(135deg, #a8e6cf , #dcedc1);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: black;
}

.container {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    padding: 50px;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: #ffd3b6;
    margin: 0 auto;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

#rollBtn {
    background-color: #f7a829;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

#resetBtn {
    background-color: #e30e03;
    margin: auto;
    margin-top: 40px;
}

#doubleBtn {
    background-color: #249118;
    margin: auto;
    margin-top: 40px;
}

#nothingBtn {
    background-color: #000000;
    margin: auto;
    margin-top: 40px;
}

button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

.active {
    box-shadow: -2px 6px 18px 3px #0a4c02bf;
}